/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 49px;
	padding: 0;
	background: url(../../images/theme/img01.jpg) repeat-x left top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1, h2, h3, h4, h5, h6, .label {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #008D37;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 1.5em 0;
	text-align: justify;
	font-size:13px;
    line-height:18px;
}

a:link {
	color: #008D37;
	text-decoration: none;
}

a:visited {
	color: #008D37;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
	color: #008D37;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

/* Header */

#header {
	width: 860px;
	height: 52px;
	margin: 0 auto;
	background: url(../../images/theme/img02.png) no-repeat left top;
}

/* Menu */

#menu {
	float: left;
	width: 650px;
	height: 54px;
}

#menu ul {
	margin: 0;
	padding: 0px 0 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 12px 20px;
	letter-spacing: -.5px;
	text-decoration: none;
	text-transform: lowercase;
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/** LOGO */

#logo-wrap {
	width: 860px;
	margin: 0 auto;
	padding: 30px 0 20px 0;
	background: url(../../images/theme/img03.jpg) no-repeat left top;
}

#logo {
	width: 820px;
	height: 200px;
	margin: 0 auto;
	background: url(../../images/theme/banner.png) no-repeat left top;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
}

#logo h1 { 
	padding-top: 95px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:36px;
	font-style: italic;
}

#logo h1 a {
	text-decoration: none;
	color: #008D37; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	padding: 115px 0 0 5px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: #7D7D7D;
}

#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }



/* Page */

#page {
	width: 850px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 620px;
	background: url(../../images/theme/img10.jpg) no-repeat left top;
}

/* Post */

.post {
	padding: 15px 15px;
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.post h1 {
}

.post h2 {
	height: 32px;
	padding: 8px 0 0 15px;
	background: url(../../images/theme/img09.png) no-repeat left top;
	font-size: 18px;
	color: #FFFFFF;
}

.post .entry {
	padding: 0 15px;
}

.post .meta {
	padding: 15px 0 30px 0;
	border-top: 1px dotted #D1D1D1;
}

.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
	font-size: 11px;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
	background: url(../../images/theme/img11.gif) no-repeat left center;
}

.post .meta .comments {
	padding-left: 22px;
	background: url(../../images/theme/img12.gif) no-repeat left center;
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 215px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
	padding: 0 15px;
}

#sidebar li ul {
}

#sidebar li li {
	background:transparent url(../../images/theme/img08.jpg) no-repeat scroll 0 6px;
    line-height:17px;
    margin:0 0 5px;
    padding-left:15px;
    font-size: 11px;
}

#sidebar h2 {
	height: 32px;
	padding: 8px 0 0 15px;
	margin-bottom: 10px;
	background: url(../../images/theme/img07.png) no-repeat left top;
	font-size: 18px;
	color: #FFFFFF;
}

/* Search */

#search {
    padding: 12px;
}

#search h2 {
	margin-bottom: 20px;
}

.inputStyle {
	width: 115px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #BED99C;
}

.buttonStyle {
	padding: 3px;
	border: none;
	background: #008D37;
	text-transform: lowercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer-wrap {
	width: 860px;
	height: 64px;
	margin: 0 auto;
	background: url(../../images/theme/img04.png) no-repeat left top;
}

#footer {
	margin: 0 auto;
	height: 64px;
	min-height: 64px;
	padding: 0;
}

html>body #footer {
	height: auto;
}

#footer p {
}

#legal {
	clear: both;
	padding-top: 10px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	color: #FFFFFF;
}

/*  Tweaks  */
.showMore {
    float: right;
    background:transparent url(../../images/theme/img11.gif) no-repeat scroll left center;
    padding:0 20px 0 18px;
}

.standardFormInput {
    margin:0 0 10px;
    width:30em;
}

.standardTextArea {
    margin:0 0 10px;
    height:10em;
    width:98%;
}

#archive li {
    list-style: none;
	margin: 0;
	padding-left: 15px;
	background: url(../../images/theme/img08.jpg) no-repeat left 50%;
}

.post h3.title {
	margin-bottom: 5px;
}

.post .title a {
    color: #FFFFFF;
    text-decoration: none;
}

.post .title a:hover {
    text-decoration: underline;
}

/* Original main.css styles */

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;	
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #EAFCED url(../../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #97FF9D;
    color: #008D37;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;	
}

div.errors li {
	background: url(../../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th { 
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #BED99C #BED99C #ccc;
    color: #008D37;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/* Post Comments */

.postedCommentsAll {

}

.comment, .commentBg {
    padding: 3px 10px 10px 10px;
}

.commentBg {
    background: #F9F9F9 none repeat scroll 0 0;
}

h4.commentBg {
    color: #666666;
}

#postedCommentsAll h3 {
    color: #182E7A;
}

h4.commentTitle {
    margin: 1em 0 0 0;
}

.commentByLine {
    color: #999999;
    margin: 0 0 1em 0;
}

.commentContent {
    margin: 0 0 0.5em 0;
}

.dots {
    height: 2em;
    background: transparent url(../../images/dots.gif) repeat-x scroll center;
}

/*  Side Margin Content */
.marginContent p {
    text-align: left;
}

/*  Google AdSense Top */
.googleAdSenseTop {
    text-align: center;
    padding-top: 20px;
}