<plugin name='ui-performance' version='1.0'>
  <author>Burt Beckwith</author>
  <authorEmail>beckwithb@studentsonly.com</authorEmail>
  <title>Grails UI Performance Plugin</title>
  <description>Taglibs and Filter to implement some of the Yahoo performance team's 14 rules</description>
  <documentation>http://grails.org/UiPerformance+Plugin</documentation>
  <resources>
    <resource>com.studentsonly.grails.plugins.uiperformance.taglib.AbstractTaglib</resource>
    <resource>com.studentsonly.grails.plugins.uiperformance.taglib.CssTagLib</resource>
    <resource>com.studentsonly.grails.plugins.uiperformance.taglib.DependantJavascriptTagLib</resource>
    <resource>com.studentsonly.grails.plugins.uiperformance.taglib.ImageTagLib</resource>
    <resource>com.studentsonly.grails.plugins.uiperformance.taglib.JavascriptTagLib</resource>
    <resource>com.studentsonly.grails.plugins.uiperformance.taglib.SpriteTagLib</resource>
  </resources>
</plugin>